body{
    font-family: 'Poppins', sans-serif;
    color: #212529;
    max-height: 300px;
}

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    margin-left: 15px;
}

.logo-empresa{
    display: flex;
    margin-top: 2vh;
    margin-left: 5vw;
    margin-bottom: 2vh;
}

.logo-empresa h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 21.6949px;
    line-height: 33px;
    margin-right: 2vw;
}

.logo-empresa p{
    color: #FF2253;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16.2712px;
    line-height: 24px;
    margin-top: 1.6vw;
}

.pesquisar{
    border: 1.5px solid #E9ECEF;
    border-radius: 12px;
    background: #E9ECEF;
    width: 90vw;
    height: 30px; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.input-pesquisa{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border: none;
    background-color: #E9ECEF;
}

.container-tags{
    display: flex;
    padding: 15px 20px;
    gap: 15px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    overflow: auto;
    margin-top: -4px;
    scrollbar-width: none;
}

.button-todos{
    border: 1.5px solid #FF2253;
    border-radius: 30px;
    background: #FF2253;
    width: 88px;
    height: 48px;
    color: #F8F9FA;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.button-panificadora{
    border: 1.5px solid #FFF7F4;
    border-radius: 32px;
    background: #FFF7F4;
    width: 170px;
    height: 48px;
    color: #212529;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.button-frutas{
    border: 1.5px solid #FFF1F4;
    border-radius: 32px;
    background: #FFF1F4;
    width: 123px;
    height: 48px;
    color: #212529;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.button-bebidas{
    border: 1.5px solid #F3EEF5;
    border-radius: 32px;
    background: #F3EEF5;
    width: 136px;
    height: 48px;
    color: #212529;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.vitrine{
    display: flex;
}

.container-produtos{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 10px;
    overflow: auto;
    margin-top: 5px;
}

.img-produto{
    border: 3px solid #FFE9EE;
    width: 300px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.card-produto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 303px;
    height: 397px;
    margin-right: 23px;

}

.card-produto h2{
    color: #000000;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    width: 266px;
    height: 27px;
    margin-bottom: 5px;
}

.descricao-produto{
    color: #868E96;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
    margin-bottom: 5px;
}

.categoria-produto{
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.categoria-produto p{
    color: #868E96;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    width: 84px;
    height: 16px;
}

.valor-carrinho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
    margin-right: 30px;
}

.simbolo-moeda, .valor-produto{
    color: #212529;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

#adicionarCarrinho{
    border: none;
    border-radius: 50%;
}

.botao-carrinho-compras{
    background: #FF2253;
    border-radius: 0px;
    width: 360px;
    height: 60px;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 17.1px;
    line-height: 28px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.img-botao-carrinho{
    margin-right: 15px;
}

@media screen and (min-width: 640px) {
    .header {
        display: flex;
        margin-left: -19px;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 5px;
    }

    .logo-empresa {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
    }

    .logo-empresa p{
        color: #FF2253;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 16.2712px;
        line-height: 24px;
    }

    .pesquisar{
        border: 1.5px solid #E9ECEF;
        border-radius: 12px;
        background: #E9ECEF;
        width: 300px;
        height: 37px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .container-tags {
        margin-top: -15px;
    }

    .vitrine{
        margin-top: -15px;
        display: flex;
        justify-content: flex-start;
        margin-left: -20px
    }

    .botao-carrinho-compras{
        margin: auto;
        height: 50px;
    }

    .container-produtos {
        margin-bottom: 5px;
        margin-left: 40px;
    }

}


@media screen and (min-width: 1024px){

    .header{
        
        display: flex;
        justify-content: space-between;
        margin-top: -5px;
        margin-left: 15px;
        margin-right: 15px;
       
    }
    
    .logo-empresa {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
        margin-left: 30px;
        margin-bottom: 20px;
    }

    .pesquisar {
        margin-top: 18px;
    }

    .container-tags {
        margin-top: -25px;
        margin-bottom: 15px;
    }

    .container-produtos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 660px;
        justify-content: flex-start;
        margin-left: 20px;
    }

    .botao-carrinho-compras{
        display: none;
    }

    .card-produto {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 303px;
        height: 397px;
        margin-right: 15px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 768px){

    .header{
        
        display: flex;
        justify-content: space-between;
        margin-top: -15px;
        margin-left: 15px;
        margin-right: 15px;
       
    }
    
    .logo-empresa {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
        margin-left: 30px;
        margin-bottom: 20px;
    }

    .pesquisar {
        margin-top: 18px;
    }

    .container-tags {
        margin-top: -15px;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
    }

    .container-produtos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 660px;
        justify-content: flex-start;
        margin-left: 60px;
        height: 825px;
    }

    .botao-carrinho-compras{
        height: 62px;
        width: 540px;
    }

    .card-produto {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 303px;
        height: 397px;
        margin-right: 15px;
        margin-bottom: 20px;
    }

}

@media screen and (min-width: 1280px){
    
    .header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
        margin-left: 15px;
        margin-right: 60px;
    }

    .logo-empresa h1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 21.6949px;
        line-height: 33px;
        margin-right: 1vw;
    }

    .container-tags {
        margin-top: -15px;
        margin-bottom: 15px;
        display: flex;
        justify-content: flex-start;
        margin-left: 25px;
    }

    .container-produtos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 974px;
        justify-content: flex-start;
        margin-left: 60px;
        height: auto;
    }


    

}



















