body{
    font-family: 'Poppins', sans-serif;
    color: #212529;
    max-height: 300px;
}
.cart--button--mobile {
    width: 100%;
    height: 3.5rem;
    background-color: #FF2253;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    position: fixed;
    bottom: 0;
}
.cart--button--mobile img {
    /* margin-left: 23px; */
    width: 1rem;
    height: 1rem;
}
.cart--button--mobile span {
    font-family: 'Poppins', sans-serif;
    margin-left: 1.25rem;
    font-size: 16px;
    font-weight: 700;
}
.cart--container {
    width: 20rem;
    height: 36.43rem;
    /* margin-top: 0.93rem; */
    position: absolute;
    text-align: center;
    margin-left: 20px;
    margin-top: -100px;
}

.header--modal {
    width: 100%;
    height: 3.5rem;
    background-color: #FF2253;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}
.text--modal {
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header--modal img {
    width: 1rem;
    height: 1rem;
}
.header--modal span {
    font-family: 'Poppins', sans-serif;
    margin-left: 0.62rem;
    font-size: 1rem;
    font-weight: 500;
}
.header--modal button {
    background-color: transparent;
    border: none;
    color: white;
    margin-right: 0.5rem;
}
.cart--main {
    width: 100%;
    max-height: 25.62rem;
    background-color: #F8F9FA;
    color: #868E96;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cart--vazio--container {
    width: 100%;
    height: 25.62rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.img--cart--vazio {
    width: 3.75rem;
    height: 3.75rem;
}
.text--cart--vazio {
    margin-top: 2.18rem;
}
.ul--produtos {
    width: 100%;
    max-height: 18.5rem;
    overflow: auto;
}
.li--produtos {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
}
.img--cart--produtos {
    width: 4.68rem;
    height: 4.68rem;
    border-radius: 12px;
}
.text--produtos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}
.nome--cart--produto {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
}
.secao--cart--produto { 
    font-size: 12px;
}
.preco--cart--produto {
    font-size: 14px;
    color: black;
    font-weight: 500;
}
#remover--cart--produtos {
    width: 0.62rem;
    height: 0.75rem;
    cursor: pointer;
}

.quantidadefinal--cart, .precofinal--cart {
    width: 100%;
    height: 3.62rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    font-family: 'Poppins', sans-serif;
}
.quantidadefinal--cart {
    border-bottom: 1px solid black;
}
.quantidade, .preco {
    margin-left: 1.12rem;
}
.quantidade--valor, .preco--valor {
    margin-right: 1.37rem;
}


.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    margin-left: 15px;
}

.logo-empresa{
    display: flex;
    margin-top: 2vh;
    margin-left: 5vw;
    margin-bottom: 2vh;
}

.logo-empresa h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 21.6949px;
    line-height: 33px;
    margin-right: 2vw;
}

.logo-empresa p{
    color: #FF2253;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16.2712px;
    line-height: 24px;
    margin-top: 1.6vw;
}

.pesquisar{
    border: 1.5px solid #E9ECEF;
    border-radius: 12px;
    background: #E9ECEF;
    width: 90vw;
    height: 30px; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.input-pesquisa{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border: none;
    background-color: #E9ECEF;
}

.container-tags{
    display: flex;
    padding: 15px 20px;
    gap: 15px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    overflow: auto;
    scrollbar-width: none;
}

.button-todos{
    border: 1.5px solid #FF2253;
    border-radius: 30px;
    background: #FF2253;
    width: 88px;
    height: 48px;
    color: #F8F9FA;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.button-panificadora{
    border: 1.5px solid #FFF7F4;
    border-radius: 32px;
    background: #FFF7F4;
    width: 170px;
    height: 48px;
    color: #212529;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.button-frutas{
    border: 1.5px solid #FFF1F4;
    border-radius: 32px;
    background: #FFF1F4;
    width: 123px;
    height: 48px;
    color: #212529;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.button-bebidas{
    border: 1.5px solid #F3EEF5;
    border-radius: 32px;
    background: #F3EEF5;
    width: 136px;
    height: 48px;
    color: #212529;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.vitrine{
    display: flex;
}

.container-produtos{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left: 10px;
    overflow: auto;
    margin-top: 5px;
}

.img-produto{
    border: 3px solid #FFE9EE;
    width: 300px;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.card-produto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 303px;
    height: 397px;
    margin-right: 23px;

}

.card-produto h2{
    color: #000000;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    width: 266px;
    height: 27px;
    margin-bottom: 5px;
}

.descricao-produto{
    color: #868E96;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
    margin-bottom: 5px;
}

.categoria-produto{
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.categoria-produto p{
    color: #868E96;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    width: 84px;
    height: 16px;
}

.valor-carrinho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
    margin-right: 30px;
}

.simbolo-moeda, .valor-produto{
    color: #212529;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

#adicionarCarrinho{
    background-color: transparent;
    border: none;
}

.botao-carrinho-compras{
    background: #FF2253;
    border-radius: 0px;
    width: 360px;
    height: 60px;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 17.1px;
    line-height: 28px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.img-botao-carrinho{
    margin-right: 15px;
}

@media screen and (min-width: 640px) {
    .cart--button--mobile {
        width: 100%;
        height: 2.5rem;
        background-color: #FF2253;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
        position: fixed;
        bottom: 0;
    }
    .cart--button--mobile img {
        /* margin-left: 23px; */
        width: 1rem;
        height: 1rem;
    }
    .cart--button--mobile span {
        font-family: 'Poppins', sans-serif;
        margin-left: 1.25rem;
        font-size: 16px;
        font-weight: 700;
    }
    .cart--container {
        margin-left: 180px
    }


    .header {
        display: flex;
        margin-left: -19px;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 5px;
    }

    .logo-empresa {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
    }

    .logo-empresa p{
        color: #FF2253;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 16.2712px;
        line-height: 24px;
    }

    .pesquisar{
        border: 1.5px solid #E9ECEF;
        border-radius: 12px;
        background: #E9ECEF;
        width: 300px;
        height: 37px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .container-tags {
        margin-top: -15px;
    }

    .vitrine{
        margin-top: -15px;
        display: flex;
        justify-content: flex-start;
        margin-left: -20px
    }

    .botao-carrinho-compras{
        margin: auto;
        height: 50px;
    }

    .container-produtos {
        margin-bottom: 5px;
        margin-left: 40px;
    }

}


@media screen and (min-width: 1024px){
    .cart--main {
        max-height: 31.25rem;
    }



    .header{
        
        display: flex;
        justify-content: space-between;
        margin-top: -5px;
        margin-left: 15px;
        margin-right: 15px;
       
    }
    
    .logo-empresa {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
        margin-left: 30px;
        margin-bottom: 20px;
    }

    .pesquisar {
        margin-top: 18px;
    }

    .container-tags {
        margin-top: -25px;
        margin-bottom: 15px;
    }

    .container-produtos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 660px;
        justify-content: flex-start;
        margin-left: 60px;
    }

    .botao-carrinho-compras{
        display: none;
    }

    .card-produto {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 303px;
        height: 397px;
        margin-right: 15px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 768px){
    .cart--button--mobile {
        height: 4.37rem;
    }
    .cart--button--mobile img {
        width: 1.56rem;
        height: 1.56rem;
    }
    .cart--button--mobile span {
        font-size: 22px;
    }
    .cart--container {
        width: 37.5rem;
        height: 43.75rem;
        margin-left: 108px;
        margin-top: -40px;
    }
    .header--modal {
        height: 4.68rem;
    }
    .header--modal img {
        width: 1.56rem;
        height: 1.56rem;
    }
    .header--modal span {
        font-size: 22px;
        margin-left: 0.93rem;
    }
    .header--modal button {
        font-size: 18px;
    }
    .cart--main {
        max-height: 39.06rem;
    }
    .cart--vazio--container {
        height: 39.06rem;
    }
    .img--cart--vazio {
        width: 5.62rem;
        height: 5.62rem;
    }
    .text--cart--vazio {
        font-size: 24px;
    }
    .ul--produtos {
        max-height: 39.063rem;
    }
    .li--produtos {
        justify-content: space-around;
    }
    .img--cart--produtos {
        width: 6.87rem;
        height: 6.87rem;
    }
    .nome--cart--produto {
        font-size: 22px;
    }
    .secao--cart--produto {
        font-size: 18px;
    }
    .preco--cart--produto {
        font-size: 20px;
    }
    #remover--cart--produtos {
        width: 1.37rem;
        height: 1.37rem;
    }
    .quantidadefinal--cart, .precofinal--cart {
        height: 4.68rem;
    }
    .quantidade, .preco {
        font-size: 22px;
        font-weight: 650;
    }
    .quantidade--valor, .preco--valor {
        font-size: 20px;
        font-weight: 500;
    }
    

    .header{
        
        display: flex;
        justify-content: space-between;
        margin-top: -15px;
        margin-left: 15px;
        margin-right: 15px;
       
    }
    
    .logo-empresa {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
        margin-left: 30px;
        margin-bottom: 20px;
    }

    .pesquisar {
        margin-top: 18px;
    }

    .container-tags {
        margin-top: -15px;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
    }

    .container-produtos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 954px;
        justify-content: center;
        height: 825px;
    }

    .botao-carrinho-compras{
        height: 62px;
        width: 540px;
    }

    .card-produto {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 303px;
        height: 397px;
        margin-right: 15px;
        margin-bottom: 20px;
    }

}

@media screen and (min-width: 1280px) {
    .cart--container {
        /* margin-left: 360px;
        margin-top: -10px; */
    }
}

@media screen and (min-width: 1366px){
    .cart--button--mobile {
        display: none;
    }
    .cart--container {
        width: 20rem;
        max-height: 36.43rem;
        position: static;
        /* margin-right: 20px; */
        margin: 0;
    }
    .header--modal {
        height: 3.5rem;
    }
    .header--modal img {
        width: 14px;
        height: 14px;
    }
    .header--modal span {
        font-size: 16px;
    }
    .cart--main {
        max-height: 29.19rem;
    }
    .img--cart--vazio {
        width: 3rem;
        height: 3rem;
    }
    .text--cart--vazio {
        font-size: 14px;
    }
    .img--cart--produtos {
        width: 4.37rem;
        height: 4.37rem;
    }
    .nome--cart--produto {
        font-size: 14px;
    }
    .secao--cart--produto {
        font-size: 12px;
    }
    .preco--cart--produto {
        font-size: 14px;
    }
    #remover--cart--produtos {
        width: 0.56rem;
        height: 0.75rem;
    }
    .quantidadefinal--cart, .precofinal--cart {
        height: 3.62rem;
    }
    .quantidade, .preco {
        font-size: 12px;
        font-weight: 500;
    }
    .quantidade--valor, .preco--valor {
        font-size: 12px;
    }


    .header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
        margin-left: 15px;
        margin-right: 60px;
    }

    .logo-empresa h1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 21.6949px;
        line-height: 33px;
        margin-right: 1vw;
    }

    .container-tags {
        margin-top: -15px;
        margin-bottom: 15px;
        display: flex;
        justify-content: flex-start;
        margin-left: 25px;
    }

    .container-produtos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 974px;
        justify-content: flex-start;
        /* margin-left: 60px; */
        /* height: auto; */
    }

    .vitrine {
        /* display: flex;
        justify-content: space-evenly; */
    }
}

@media screen and (min-width: 1400px) {
    .vitrine {
        justify-content: space-between;
    }
    .cart--container {
        margin-right: 50px;
    }
}

@media screen and (min-width: 1700px) {
    .container-produtos {
        width: 1272px;
    }
}



















